/**
 * General
 */

html {
  color: #292f33;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.3125;
}

a {
  text-decoration: none;
}

svg {
  fill: currentColor;
  height: 1.25em;
}

.container {
  margin: 0 auto;
  width: 100%;
}

@media screen and (min-width: 360px) {
  html {
    font-size: 15px;
  }

  .container {
    max-width: 400px;
  }
}

@media screen and (min-width: 600px) {
  html {
    font-size: 16px;
  }

  .container {
    max-width: 600px;
  }
}

/**
 * Header
 */

.header {
  display: flex;
  padding: 1rem 0 .65625rem;
}

.header__profile {
  flex: 1 0 0;
  margin: 0 .3rem;
}

.header__image {
  border-radius: .35rem;
  display: block;
  width: 100%;
}

.header__user {
  flex: 7 0 0;
  margin: 0 .3rem;
}

.header__user-url {
  display: inline-block;
  margin-top: -.15rem;
}

.header__user-url:hover .header__user-name {
  text-decoration: underline;
}

.header__user-name {
  color: #292f33;
  font-weight: 700;
}

.header__user-screenName {
  color: #8899a6;
}

.header__user-screenName:before {
  content: '\a';
  white-space: pre;
}

/**
 * Tweet
 */

.tweet {
  padding: 0 .6rem;
}

.tweet__text {
  font-size: 1.25rem;
  font-weight: 300;
  line-height: 1.5em;
  margin: 0;
  padding: .65625rem 0 .98438rem;
}

.tweet__text a {
  color: #1da1f2;
}

.tweet__text a:hover {
  text-decoration: underline;
}

.tweet__media {
  border-radius: .35rem;
  border: 1px solid #e1e8ed;
  display: block;
  margin: .65625rem 0 1.3125rem;
}

.tweet__image {
  display: block;
  max-width: 100%;
}

/**
 * Footer
 */

.footer__date {
  padding-bottom: .98438rem;
  color: #8899a6;
}

.footer__counters {
  border-top: 1px solid #e1e8ed;
  padding: .98438rem 0;
  text-transform: uppercase;
}

.footer__value {
  font-weight: 700;
}

.footer__label {
  color: #8899a6;
  font-size: .85rem;
}

.footer__favorite {
  display: inline-block;
  margin-left: 1.96875rem;
}

.footer__actions {
  align-items: center;
  border-bottom: 1px solid #e1e8ed;
  border-top: 1px solid #e1e8ed;
  color: #8899a6;
  display: flex;
  font-size: 1.5rem;
  height: 3.28125rem;
  width: 100%;
}

.footer__icon {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  text-align: center;
}

.footer__button {
  background: none;
  border: none;
  color: inherit;
  cursor: pointer;
  font-size: inherit;
  outline: none;
}

.footer__button svg {
  margin: 0 auto;
}

.footer__liked {
  animation: liked .25s;
  color: #e81c4f;
}

@keyframes liked {
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
